<form method="post" action="/todo">
<table>
<tr>
<td>name</td>
<td><input type="hidden" value="<%= session[:name] %>" name="name" /><%= session[:name] %></td>
</tr>
<tr>
<td>todo</td>
<td><textarea name="todo" rows='4' cols='100'></textarea></td>
</tr>
</table>
<input type="submit" value="追加" />
</form>



<table border="1">
<tr>
<th>name</th>
<th>todo</th>
<th>dateTime</th>
<th></th>
</tr>
<% @todos.each {|todo| %>
<form method="post" action="/todo/<%= h todo[:id] %>">
      	<tr>
		<td><%= h todo[:name] %></td>
		<td><%= h todo[:todo] %></td>
		<td><%= h todo[:dateTime].strftime("%Y/%m/%d %H:%M:%S") %></td>
		<td><input type='hidden' name='_method' value='delete' />
		<input type="submit" value="削除" /></td>
	</tr>
</form>
<% } %>
</table>

<form method="get" action="/logout">
<input type="submit" value="ログアウト" />
</form>